{
  // Default options
  'functions': true,
  'size': false
}

{{#options.size}}
{{#options.name}}
  ${{options.name}}-total-height: {{options.size.height}}px;
  ${{options.name}}-total-width: {{options.size.width}}px;
{{/options.name}}
{{^options.name}}
  $total-height: {{options.size.height}}px;
  $total-width: {{options.size.width}}px;
{{/options.name}}

{{/options.size}}
{{#items}}
${{name}}-x: {{px.x}}
${{name}}-y: {{px.y}}
${{name}}-offset-x: {{px.offset_x}}
${{name}}-offset-y: {{px.offset_y}}
${{name}}-width: {{px.width}}
${{name}}-height: {{px.height}}
${{name}}-image: '{{{escaped_image}}}'
${{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} '{{{escaped_image}}}'
{{/items}}

{{#options.functions}}
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  background-image: url(nth($sprite, 7))

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
{{/options.functions}}
