{
  // Default options
  'functions': true,
  'mapName': 'sprites'
}

${{options.mapName}}: (
  {{#items}}
  {{name}}: (
    x: {{px.x}},
    y: {{px.y}},
    offset_x: {{px.offset_x}},
    offset_y: {{px.offset_y}},
    width: {{px.width}},
    height: {{px.height}},
    total_width: {{px.total_width}},
    total_height: {{px.total_height}},
    image: '{{{escaped_image}}}'
  ),
  {{/items}}
);

{{#options.functions}}
@function sprite_{{options.mapName}}($sprite, $attribute) {
  @return map-get(map-get(${{options.mapName}}, $sprite), $attribute),
}

@mixin sprite-width($sprite) {
  width: sprite_{{options.mapName}}($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: sprite_{{options.mapName}}($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: sprite_{{options.mapName}}($sprite, 'offset_x') sprite_{{options.mapName}}($sprite, 'offset_y');
}

@mixin sprite-image($sprite) {
  background-image: url(sprite_{{options.mapName}}($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
{{/options.functions}}