{
  // Default options
  'functions': true
}

{{#items}}
${{name}}_x = {{px.x}};
${{name}}_y = {{px.y}};
${{name}}_offset_x = {{px.offset_x}};
${{name}}_offset_y = {{px.offset_y}};
${{name}}_width = {{px.width}};
${{name}}_height = {{px.height}};
${{name}} = {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}};
{{/items}}

{{#options.functions}}
sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}X($sprite) {
  return $sprite[0];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}Y($sprite) {
  return $sprite[1];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}OffsetX($sprite) {
  return $sprite[2];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}OffsetY($sprite) {
  return $sprite[3];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}Width($sprite) {
  return $sprite[4];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}Height($sprite) {
  return $sprite[5];
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}Background() {
  {{#options.spritePath}}
  return '{{{options.spritePath}}}';
  {{/options.spritePath}}{{^options.spritePath}}
  return '../img/sprites.png';
  {{/options.spritePath}}
}

sprite{{#options.spriteName}}{{options.spriteName}}{{/options.spriteName}}($sprite) {
  background-image: url(spriteBackground());
  background-position: spriteOffsetX($sprite) spriteOffsetY($sprite);
  width: spriteWidth($sprite);
  height: spriteHeight($sprite);
}
{{/options.functions}}
