/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
.sprite-dash-case {
  width: 20px;
  height: 20px;
  background-position: 20px 20px;
  background-image: url(path.png);
}

.sprite_snake_case {
  width: 20px;
  height: 20px;
  background-position: 20px 20px;
  background-image: url(path.png);
}

.spriteCamelCase {
  width: 20px;
  height: 20px;
  background-position: 20px 20px;
  background-image: url(path.png);
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .sprite-dash-case {
    background-image: url(path-retina.png);
    background-size: 100px 100px;
  }

  .sprite_snake_case {
    background-image: url(pathpath-retina.png);
    background-size: 100px 100px;
  }

  .spriteCamelCase {
    background-image: url(pathpath-retina.png);
    background-size: 100px 100px;
  }
}
